<!-- <section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle has-text-info">
        Welcome to
      </h2>
      <h1 class="title is-centered">
        Table Top Meet Up
      </h1>
    </div>
  </div>
</section> -->

<section class="hero is-dark is-medium">

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="subtitle is-4">
        Welcome to
      </h2>
      	<h1 class="title is-1 has-text-info">
        Table Top Meet Up
      </h1><br><br>
      <p>Join us for all sorts of board game entertainment! From Dungeons and Dragons to Checkers, stop by for a match or stay for an entire session.</p>
    </div>
  </div>
</section>

