<h1 class="title">Games</h1>

<ul>
	<% @games.each do |game| %>
			<% if @current_user && UserGame.find_by(user_id: @current_user.id, game_id: game.id) && UserGame.find_by(user_id: @current_user.id, game_id: game.id).favorite == true %>
				<li class="subtitle"><%= link_to game.name, game_path(game) %>
					<i class="fas fa-star" style="color:gold"></i>
				</li>
			<% else %>
				<li class="subtitle"><%= link_to game.name, game_path(game) %></li>
			<% end %>	
	<% end %>
</ul>