<h1 class="title"><%= @location.name %></h1>

<p class="subtitle is-6"><%= @location.address %></p>

<ul>
	<p class="title is-4">Meet ups</p>
	<% @location.meet_ups.each do |meet_up| %>
		<li class="subtitle"><%= link_to meet_up.name, meet_up_path(meet_up) %></li>
	<% end %>
</ul><br>

<%= button_to("Create meet up",  new_location_meet_up_path(@location), method: "get", class: "button") %>